<ActionBar title="Details" class="action-bar"></ActionBar>
<GridLayout width="100%" height="100%" columns="200, *, 200" rows="200, *, 200">
    <Wikitude rowSpan="3" colSpan="3" row="0" col="0"
      [url]="wikitudeUrl" 
      (WorldLoadSuccess)="onWorldLoaded($event)" 
      (WorldLoadFail)="onWorldFail($event)"
    ></Wikitude>
    <Button text="Back" row="2" col"0" width="80%" height="80%" (tap)="goBack()"></Button>
</GridLayout>